.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
  width: 200px;
  padding: 10px;
  border-radius: 30px;
  border: rgb(231, 214, 214);
  border-style: solid;
  background-color: rgb(190, 150, 19);
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.wrapper {
  margin: 50px 0 0 170px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
